[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
mysqlclient = "*"
django-dotenv = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
django-filter = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.10"
